// SASS Code

@function  get-total($nums...) {
    $all: 0;
    @each $numbers in $nums {
        $all: $all + $numbers
    }
    @return $all
}

.box {
    top: get-total(100, 50, 20);
    right: get-total(100, 50);
}

// Output
// .box {
//     top: 170;
//     right: 150;
// }