// assignment link "https://elzero.org/sass-2021-assignments-lesson-1-to-6/"

// one 
// قم بكتابة SASS Code يقوم بإخراج ال Output التالي

.content {
    > .box{
        padding: 15px;
        > title {
            font-size: 18px;
        }
    }
    .cat {
        padding: 15px;
    }
    &.premium::before {
        content: "Premium Box";
    }
    &.premium:hover {
        background-color: #eee;
    }
}

// two
// قم بكتابة SASS Code يقوم بإخراج ال Output التالي بثلاث طرق مختلفة
.class > {
    .child {
        padding: 10px;
    }
}
.class {
    > .child {
        padding: 10px;
    }
}
.class {
    > {
        .child {
            padding: 10px;
        }
    }
}

// three
// قم بكتابة SASS Code يقوم بإخراج ال Output التالي بطريقة غير الشكل الحالي

.class{
    font: {
        weight: bold;
        size: 20px;
    }
}

// four
// إختبر نفسك بدون تجربة ال Code وقم بكتابة ال Output الذي سيخرج من ال Code
// بعدها قم بكتابة شرح كل سطر من ال Code في Comment لا يظهر في ال Output

.parent {
    & + .sibling {
        margin: auto {
            top: 10px;
        }
        & ~ .last {
            padding: 10px;
        }
    }
}

// five
// لديك ال Code التالي
// إستخدم ما تعلمته لتخرج بال Output المطلوب
// يمنع عمل ال Grouping بنفسك ويجب أن يتم عمله بطريقة أوتوماتيكية

.widget, .my-class {
    background-color: white;
    padding: 20px;
}
.main-border {
    border: 1px solid #ccc;
}
.my-class {
    @extend .main-border;
    font-weight: bold;
    margin: 20px auto;
}

// sex
// 